{% extends "distributed/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load my_filters %}

{% block i18n_do_not_translate %}
    {% block manage_active_teachers %}active{% endblock manage_active_teachers %}
    {% block manage_active_admins %}active{% endblock manage_active_admins %}
{% endblock i18n_do_not_translate %}

{% block subnavbar %}
    <div class="manage-nav logged-in-only admin-only">
        <ul class="nav nav-tabs">
            <div class="mobile-manage-nav">
            {% if request.session.facility_user.facility.id %}
                <li class="teacher-only users {% block user_active %}{% endblock user_active %}"><a href="{% url 'facility_management' zone_id=None facility_id=request.session.facility_user.facility.id %}" title="{% trans 'Manage Users' %}"><div><span aria-hidden="true"><i class="icon icon-uniE606"></i></span><br/>{% trans "Users" %}</div></a></li>
            {% endif %}
                <li class="facility {% block facility_active %}{% endblock facility_active %}"><a href="{% url 'zone_management' zone_id=None %}" title="{% trans 'Manage Facilities' %}"><div><span aria-hidden="true"><i class="icon icon-uniE603"></i></span><br/>{% trans "Facilities" %}</div></a></li>
            </div>
            <div class="mobile-manage-nav">
                <li class="video {% block video_active %}{% endblock video_active %}"><a href="{% url 'update_videos' %}" title="{% trans 'Update this server with new videos and languages' %}"><div><span aria-hidden="true"><i class="icon icon-uniE610"></i></span><br/>{% trans "Videos" %}</div></a></li>

                <li class="iqcontent {% block iqcontent_active %}{% endblock iqcontent_active %}"><a href="{% url 'update_iqcontent' %}" title="{% trans 'Update this server with new Content' %}"><div><span aria-hidden="true"><i class="icon icon-uniE607"></i></span><br/>{% trans "iQ-Content" %}</div></a></li>

                <li class="languages {% block languages_active %}{% endblock languages_active %}"><a href="{% url 'update_languages' %}"><div><span aria-hidden="true"><i class="icon icon-uniE600"></i></span><br/>{% trans "Language" %}</div></a></li>

		<li class="iqsettings {% block iqsettings_active %}{% endblock iqsettings_active %}"><a href="{% url 'update_iqsettings' %}" title="{% trans 'Configure your device' %}"><div><span aria-hidden="true"><i class="icon icon-uniE606"></i></span><br/>{% trans "System" %}</div></a></li>
            </div>

        {% block inline-btn %}
            <div id="inline-btn-container" class="pull-right pull-down"></div>
        {% endblock inline-btn %}
        </ul>
        
         
    </div>


{% endblock subnavbar %}


