{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load i18n_filters %}

{% block title %}{% trans "Configure Device" %}{% endblock %}

{% block i18n_do_not_translate %}    
    {% block iqsettings_active %}active{% endblock iqsettings_active %}
{% endblock i18n_do_not_translate %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/updates/bundles/bundle_update_iqsettings.js' %}"></script>
{% endblock headjs %}

{% block content %}

{% block subnavbar %}{{block.super}}{% endblock subnavbar %}

<div class="container-fluid">
    <div class="row">
        <div class="">
            <h4 class="iqsettings">
              
                <select id="download_language_selector">
                {% for lang_code, lang_meta in language_choices.iteritems %}
                    <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                        {{ lang_code|get_language_name }}
                    </option>
                {% endfor %}
                </select>
            </h4>
<script>



var url = "";

var wifi_details="";
var ssid_value = "";
var password_value="";
var passkey_enabled="";
var passkey="";
var defaultValues = "";
var wifi_status="";
var nodes="";
function wifi_configure(url){

	 var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {

   	
    document.getElementById("pop-up").style.visibility = 'hidden';
      document.getElementById("peek").style.visibility = 'hidden';
     
      var JsonObj = xhttp.responseText;
     var obj1 =  JSON.parse(JsonObj);
     defaultValues = obj1;
      document.getElementById("user_input").maxLength = 31;
    document.getElementById("user_input").minLength = 1;
      var x =obj1.ssid;
       passkey = obj1.passwd;
       passkey_enabled= obj1.passwd_enabled;
       wifi_status= obj1.wifi_installed;
      console.log("ssid "+x);
      console.log("Password:"+passkey);
      console.log("Password status: "+passkey_enabled);
      console.log("wifi status: "+wifi_status);
      
      
      document.getElementById("user_input").placeholder = x;
      document.getElementById("user_input").defaultValue = x;
      var new_ssid = document.getElementById("user_input").value;
      ssid_value = new_ssid;
	    document.getElementById("txtPassportNumber").placeholder = passkey;
      document.getElementById("txtPassportNumber").defaultValue = passkey;

      
       function EnableDisableTextBox(chkPassport) {
            var txtPassportNumber = document.getElementById("txtPassportNumber");
           var password_value = txtPassportNumber.value;
        
           if (passkey_enabled == "1"){
           	chkPassport.checked = true;
           	document.getElementById("peek").style.visibility = 'visible';
           	 document.getElementById("warn").style.visibility = 'hidden';
           }
           else if(passkey_enabled == "0"){
           	chkPassport.checked = false;
           	document.getElementById("peek").style.visibility = 'hidden';
           	 document.getElementById("warn").style.visibility = 'visible';
           } 
         
           
        }
        
        function install_status(){
 if (wifi_status == "0"){
      document.getElementById("buttons").className = "no-hover";
    document.getElementById("button").className = "no-hover";
 		document.getElementById("no-wifi").style.visibility = 'visible';
         nodes = document.getElementById("wifi-box").getElementsByTagName('*');
	for(var i = 0; i < nodes.length; i++){
     nodes[i].disabled = true;

	} 	
}
       else {
       document.getElementById("no-wifi").style.visibility = 'hidden';
         nodes = document.getElementById("wifi-box").getElementsByTagName('*');
	for(var i = 0; i < nodes.length; i++){
 	    nodes[i].disabled = false;
	}
           } 
	

}
		install_status();
        EnableDisableTextBox(chkPassport);
        wifi_details={ssid:ssid_value, passwd:password_value,passwd_enabled:passkey_enabled};
 
    }
  };
  console.log("Before sending to python: "+url);
  xhttp.open("GET", "/api/iqsettings/"+url, true);
  xhttp.send();
	
}

 
function checkbox_validation(){
	document.getElementById("user_input").readOnly = document.getElementById("set-ssid").checked ? false : true;
            if (!document.getElementById("user_input").readOnly) {
                document.getElementById("user_input").focus();
          		
            }
            
            document.getElementById("txtPassportNumber").readOnly = document.getElementById("chkPassport").checked ? false : true;
            if (!document.getElementById("txtPassportNumber").readOnly) {
                document.getElementById("txtPassportNumber").focus();
                document.getElementById("peek").style.visibility = 'visible';
                document.getElementById("warn").style.visibility = 'hidden';
                
               
            }
            else{
            	 document.getElementById("peek").style.visibility = 'hidden';
            	 document.getElementById("warn").style.visibility = 'visible';
            }
}
        

function validate_ssid(ssid) {
	ssid = document.getElementById("user_input").value;
    var MIN_SSID_LEN = 1;
    var MAX_SSID_LEN = 31;

	if (ssid.length < MIN_SSID_LEN  || ssid.length > MAX_SSID_LEN)
	{
		console.log("invalid ssid: " + ssid);
		return false;
	}
	else 
	{
	    console.log("ssid ok");
		return true;	
	}
}

function validate_password(passwd) 
{
    passwd = document.getElementById("txtPassportNumber").value;
    var MIN_PASSWORD_LEN = 8;
    var MAX_PASSWORD_LEN = 63;
	if (passwd.length < MIN_PASSWORD_LEN || passwd.length > MAX_PASSWORD_LEN)
	{
	    console.log("invalid password: " + passwd);
		return false;
	}
	else 
	{
	    console.log("password ok");
		return true;
	}
}



function runAll()
{
     
     var ssid_value = document.getElementById("user_input").value;
     var password_value = document.getElementById("txtPassportNumber").value;
     var passkey_enabled = document.getElementById("chkPassport").checked;
     if (passkey_enabled == true)
     {
     	passkey_enabled = "1";
     	
     }
     else
    {
     	passkey_enabled = "0";
     }
     
    var  wifi_details1={ssid:ssid_value, passwd:password_value,passwd_enabled:passkey_enabled};
    var   url1 = JSON.stringify(wifi_details1);
     if( validate_ssid(wifi_details1.ssid_value) == true && validate_password(wifi_details1.password_value) == true){
    	
    	wifi_configure(url1);
    	
    }
    
    else 
    {
     document.getElementById("pop-up").style.visibility = 'visible';
    	console.log("ssid (1-31)characters; password(8-63)characters");
    }
   
    	  
    	
    	
    	
}
    
 
 function loadDefault(){
 document.getElementById("user_input").value = defaultValues.ssid;
 document.getElementById("txtPassportNumber").value = defaultValues.passwd;

  if(defaultValues.passwd_enabled == "1")
  {
  	document.getElementById("chkPassport").checked  = true;
  }
  else
  {
  	document.getElementById("chkPassport").checked  = false;
  }

 	console.log(defaultValues);
 }

 


  function mouseoverPass(obj) {
  var obj = document.getElementById('txtPassportNumber');
  obj.type = "text";
}

function mouseoutPass(obj) {
  var obj = document.getElementById('txtPassportNumber');
  obj.type = "password";
}
</script>
<body onload="wifi_configure('{}');">


    <style type="text/css">
.no-hover{
	   background-color: #005987;
    color:white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:  7px;
    border: none;
}
.button {
    background-color: #005987;
    color:white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:  7px;
    border: none;
}
.button:hover{
background-color: #A7B4E2;
color: black;
}
#peek{
	background-color:skyblue;
	font-weight:none;
	font-style:italic;
	font-size:10px;
	border-radius:  7px;
	
}
#warn{
	font-weight:none;
	font-style:italic;
	font-size:10px;
	border-radius:  7px;
	height: 10%;
	color:#8a6d40;
}
#no-wifi{
	color:#bf3632;
	font-weight: bold;
	font-size:14px;
}
#peek:hover}{
	background-color:navy;
}
#wifi-box{
	background-color:#efefef;
	padding:10px;
    text-align: center;
    text-decoration: none;
    width: 30%;
    border-radius: 7px;
    height:100%;
    border:1px solid #005987;
    border-style: dotted;
    
    

}
.text-input{
	
	outline:none;
	
}
#wifi-title{
	
	background-color:#005987;
	color:white;
	border-radius: 7px;
	border:1px solid #b3b3b3;
    border-style: dotted;
    text-align: center;
    
vertical-align: middle;
   font-weight:bold;
     
     
}
#wifi-title:hover{
	
	color:#fff;
}


#wifi-items{
	
	
	border-radius: 7px;
	margin-left: 0px;
	border:1px solid #b3b3b3;
    border-style: dotted;
    width: 100%;
    overflow:hidden;
}
#wifi-button{
	width:100%;
display: inline-block;
	
	border-radius: 7px;
	margin: 0 auto;
	text-align: center;
	
}
#text{
	font-weight: normal;
	color:black;
}
</style>

<div id="wifi-box">
<div id="wifi-title">
  <p><br/>Configure iQ Wi-Fi hotspot<p>
 </div> <br/>
 <div id="wifi-items">
				<form >
					<div>
					
						<label for="set-ssid" style=" color:black;font-size: 15px;font-style: italic;font-weight: bold;">
						<input class="text-input" type="checkbox" name ="check_list"  id="set-ssid"  float="left"  onclick="checkbox_validation();" />
						edit ssid:	&nbsp;&nbsp;&nbsp;&nbsp;
						</label>
						<input  type="text" maxlength="31" minlength="4"  id="user_input"  readOnly />
						<p id = "text" >
<font size="1">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; {ssid between (1-31)characters}</p>
					</div> 
		
				</form>
     <div id="initial" style=" color:black;font-size: 15px;font-style: italic;font-weight: bold;">
		
			   <form class="form">
			   		<div>
						<label for="chkPassport" style=" color:black;font-size: 15px;font-style: italic;font-weight: bold;">
							<input class="text-input" type="checkbox" name ="check_list" id="chkPassport" onclick="checkbox_validation();" />
							enable key:
						</label>
						<input type="password"  " id="txtPassportNumber"  readOnly/><p id = "text" style=" color:black;font-size: 10px;font-style: italic;">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
{Passkey between (8-63)characters}</p>
					</div>
					&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
					<button id="peek" type="" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" />
							(hover to view passkey...)
					</button>
				</form>
    </div>
</div>
<p id="warn">Wi-Fi open; no Security Key Set</p>

	
	<div id="wifi-button">
				<input  style=" float:left " id="button" class="button" onclick="loadDefault();" type="submit" value="Cancel">
				 &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
				<input style=" float:right;" id="buttons" class="button"  onclick="runAll();" type="submit" value="Apply">
				<br/><br/><br/>
				<div  id="pop-up" class="alert alert-danger	 alert-dismissible" role="alert">
<p>Make sure ssid is between (1-31)characters and Passkey between (8-63)characters</p>
</div>
<p id="no-wifi">Wi-Fi not configured</p>
		</div>
	
  </div>
</body>
        </div>
 <!--      <div class="col-xs-5 download-actions vertical-shadow client-online-only">
            <h4 class="videos">
            {% trans "Help for downloading videos" %}
            </h4>
            <div id="help-info">
                <a id="download-help-link" target="_new" href="http://{{ central_server_domain }}/docs/faq.html#i-would-like-to-download-the-videos-for-ka-lite-via-bittorrent-is-this-possible">
                    {% trans "Q: How do I bulk-download videos?" %}
                </a>
            </div>
        </div>-->
    </div>
</div>

    <div style="clear: both;"></div>

{% endblock content %}
