{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load i18n_filters %}

{% block title %}{% trans "Update Content" %}{% endblock %}

{% block i18n_do_not_translate %}    
    {% block iqcontent_active %}active{% endblock iqcontent_active %}
{% endblock i18n_do_not_translate %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/updates/bundles/bundle_update_iqcontent.js' %}"></script>
{% endblock headjs %}

{% block content %}

{% block subnavbar %}{{block.super}}{% endblock subnavbar %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 download-actions vertical-shadow">
            <h4 class="iqcontent">
                <span id="language_choice_titlebar">
                iQ Content
                </span>
                <select id="download_language_selector">
                {% for lang_code, lang_meta in language_choices.iteritems %}
                    <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                        {{ lang_code|get_language_name }}
                    </option>
                {% endfor %}
                </select>
            </h4>

            <div class="btn-group-vertical" role="group">

		

		

                <button id="delete-videos" class="btn btn-danger" type="button" aria-label="{% trans "Delete Videos" %}" disabled="disabled">
                    <div id="modal_dialog">
                    </div>
                    <span id="delete-videos-text" class="old-video-count">{% trans "Please select content to delete (below)" %}</span>
                </button>

                <button id="scan-videos" type="button" class="btn btn-info" aria-label="{% trans "Scan for iQ Content" %}">
                    <span id="scan-videos-text">{% trans "Scan iQ content folder" %}</span>
                </button>
	
				
            </div>
        </div>


  <!--      <div class="col-xs-5 download-actions vertical-shadow client-online-only">
            <h4 class="videos">
            {% trans "Help for downloading videos" %}
            </h4>
            <div id="help-info">
                <a id="download-help-link" target="_new" href="http://{{ central_server_domain }}/docs/faq.html#i-would-like-to-download-the-videos-for-ka-lite-via-bittorrent-is-this-possible">
                    {% trans "Q: How do I bulk-download videos?" %}
                </a>
            </div>
        </div>-->
    </div>
</div>

    <div style="clear: both;"></div>

    <div>
        <!-- note: id must match the "updates" app process name -->
        <div id="videodownload-progressbar">
            {% include "updates/progress-bar.html" %}
        </div>

        <div>
            <button class="btn btn-default btn-xs" id="cancel-download" type="button">{% trans "Cancel Video Downloads" %}</button>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div id="content_tree"><br/><h4>{% trans "Loading topic tree... Please wait!" %}</h4></div>
    
 <!--*******MEMORY BAR******MEMORY BAR******MEMORY BAR*****-->


    <body onload="mem_calc();">
    
<script>


function mem_calc(device_capacity, mem_in_use){
	 var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
     //var JsonStr = JSON.stringify(xhttp.responseText);
     //var JsonObj = JSON.parse(JsonStr);
      var JsonObj = xhttp.responseText;
      var obj1 =  JSON.parse(JsonObj);
      //document.getElementById("demo").innerHTML = obj1.TotalDiskSpace + " "+ obj1.UsedDiskSpace;
      
      var x = parseInt(obj1.TotalDiskSpace);
      var y = parseInt(obj1.UsedDiskSpace);
      var z = parseInt(obj1.FreeDiskSpace);
      var a = parseInt(obj1.KhanContentFolderSize);
      var b = parseInt(obj1.iQContentFolderSize);
      var c = parseInt(obj1.ContentFolderSize);
      console.log("test text:"+(z));
      var block=Math.round((y)*100.0)/100;
      //var khan_size=Math.round(a);
      //var iq_size=Math.round(b);
      var d= (a/1000);
      var n= (b/1000);
      var k= y-(c/1000);
      var others_size = y-(c/1000);
	document.getElementById("mem_consumed").style.width=k+'%';
	document.getElementById("memo").style.width=d+'%';
	document.getElementById("memol").style.width=n+'%';
	document.getElementById("mem_consumed").innerHTML=" "+z.toFixed(2)+'GB free of '+x +'GB';
	document.getElementById("others-size").innerHTML=' '+'System: '+others_size.toFixed(2)+'GB ';
	document.getElementById("free-size").innerHTML=' '+'Free Space: '+'\n'+z.toFixed(2)+'GB ';
	if(a > 1000 ){
		var a1 = (a/1000);
		document.getElementById("khan-size").innerHTML='  Learn: '+a1.toFixed(2)+'GB '
	}
	else{
		document.getElementById("khan-size").innerHTML='  Learn: '+a.toFixed(2)+'MB '
	}
	if(b > 1000 ){
		var b1 = (b/1000);
		document.getElementById("iq-size").innerHTML='  iQ Learn: '+b1.toFixed(2)+'GB '
	}
	else{
		document.getElementById("iq-size").innerHTML='  iQ Learn: '+b.toFixed(2)+'MB '
	};
	
    }
  };
  xhttp.open("GET", "/api/videos/iqcontentsize", true);
  xhttp.send();
	
	
}
</script>
<style>
table, td, th {
    border: 2px solid silver;
color: black;
vertical-align: bottom;
text-align:center;
}

table {
font-size:11px;
font-weight:bold;
    border-collapse: collapse;
    width: 50%;

}
#mem_consumed{
	color: #85DAC4;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	text-align:center;
}
</style><br/>
<div class="col-xs-5" style="width:80%;  border:  2px solid #ccc;">
	
	<h4 style="font-style:bold; color:black;">&nbsp;Disk Management</h4>
	<div style="width:80%; padding:5px; margin-left: 0;" >	
	
			
		<div id="mem_border" style="left: 25px; margin-left: 0;border-radius: 5px; width:121%;height:25px;border:1px solid silver;overflow:hidden;background: #ECEBEB !important;">
			<div id="mem_consumed" style="width:37%;height:25px;float:left;background: #456F45 !important;">&nbsp;
			</div>
			<div id="memo" style="width:37%;height:25px;float:left;background: #8E3F3F!important;">
			</div>
			<div id="memol" style="width:37%;height:25px;float:left;background:#404077 !important;">
			</div>
			
		</div>
		<br />
		<table>
  
  <tr>
    <td  style="background:#456f45; width:25%"><br/></td>
    <td  style="background:#8e3f3f; width:25%"></td>
    <td  style="background:#404077; width:25%"></td>
	<td  style="background:#ecebeb; width:25%"></td>
</tr>
<tr>
    <td  id="others-size" style=" width:25%">System:</td>
    <td id="khan-size"  style="width:25%">Learn:</td>
    <td id="iq-size" style="width:25%">iQ Learn:</td>
<td  id="free-size" style="width:25%">Free space:</td>
</tr>
</table>
	<br/>
	</div>
	</div>
</body>
    <!--*******MEMORY BAR******MEMORY BAR******MEMORY BAR*****-->
{% endblock content %}
